<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/angular")*@
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-view>
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")



    @RenderSection("scripts", required: false)

    <script>
        var app = angular.module('myApp', ['ngRoute']);

        app.config(function ($routeProvider) {
            $routeProvider
                .when('/', {
                    controller: 'UserController',
                    templateUrl: 'app/views/user/GetAllUsers.html'
                })
                .when('/User/Create', {
                    controller: 'CreateUserController',
                    templateUrl: 'app/views/user/Create.html'
                })
                .when('/User/Edit/:id', {
                    controller: 'EditUserController',
                    templateUrl: 'app/views/user/Edit.html'
                })
                .otherwise({
                    redirectTo: '/'
                });
        });

        app.controller('UserController', ['$scope', '$http', function ($scope, $http) {
            $scope.title = 'mike me';

            $http.get('http://localhost:57287/User/ListAllUsers')
                .then(function successCallback(response) {
                    $scope.users = response.data;
                });
        }]);


        app.controller('EditUserController', ['$scope', '$http', '$routeParams', function ($scope, $http, $routeParams) {
            var id = $routeParams.id;

            $http.get('http://localhost:57287/User/GetById?id=' + id)
                .then(function successCallback(response) {
                    $scope.user = response.data;
                });

            $scope.submit = function () {
                var user = {
                    "Id": $scope.user.Id,
                    "Name": $scope.user.Name,
                    "Age": $scope.user.Age,
                    "Address": $scope.user.Address
                }

                $http.post('http://localhost:57287/User/Edit', user)
                    .then(function successCallback() {
                        //$location.path('/#!/User/');
                        $window.location.href = '/';
                        //window.location = '/';
                    });
            }
        }]);



        app.controller('CreateUserController', ['$scope', '$http', '$location', '$window', function ($scope, $http, $location, $window) {
            $scope.submit = function () {
                var user = {
                    "Name": $scope.Name,
                    "Age": $scope.Age,
                    "Address": $scope.Address
                }

                $http.post('http://localhost:57287/User/Create', user)
                    .then(function successCallback() {                        
                        //$location.path('/#!/User/');
                        $window.location.href = '/';
                        //window.location = '/';
                    });                
            }
        }]);

        //app.factory('listUsers', ['$http', function ($http) {
        //    return $http.get('http://localhost:57287/User/ListAllUsers')
        //        .then(function successCallback(data) {
        //            return data;
        //        });
        //        //.error(function (err) {
        //        //    return err;
        //        //});
        //}]);
    </script>
</body>
</html>
